/* ----- BUSSINES SECTION ----- */
/* grid view */
.member {
    width: 350px;
    height: 200px;
}

.member h2 {
    background-color: white;
    color: black;
}

/* list view */
.list-item {
    text-align: left;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

#member.list .list-item:nth-child(odd) {
    background-color: #f0f0f0;
}

#member.list .list-item:nth-child(even) {
    background-color: #ffffff; 
}