/* ----- BUSSINES SECTION ----- */
/* grid view */
.member {
    display: flex;
    flex-direction: column;
    padding: .75rem;
    font-size: small;
}

.member h2, p{
    padding-top: 0;
    padding-bottom: .5rem;
}

.member img {
    width: 100px;
    margin-right: 1rem;
}

.member-name {
    text-align: center;
}

.member-info {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

/* list view */
.list-item {
    text-align: left;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

#member.list .list-item:nth-child(odd) {
    background-color: #f0f0f0;
}

#member.list .list-item:nth-child(even) {
    background-color: #ffffff; 
}