/* NAVIGATION */
.nav-products {
    display: flex;
    justify-content: space-around;
    background-color: var(--bistre);
}
.nav-products ul {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-products .nav-link {
    font-size: 100%;
}

@media only screen and (max-width: 820px) {
    .nav-products {
        height: fit-content;
        padding: 10px;
    }
    .nav-products ul {
        height: auto;
        transition: ease .5s;
        display: flex;
        flex-direction: column;
    }
}

/* CARDS */
.card h3 {
    text-align: center;
}

.card img {
    transition: transform 0.3s ease;
    border-radius: .5rem;
}

.card:hover img {
    transform: scale(1.05);
}