/* THANK YOU PAGE */
#thank-you-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
}

#summary-box {
    width: 500px;
    gap: 1rem;
    padding-bottom: 2rem;
}